@media (min-width: 431px) and (max-width: 1024px) {
  .show-tools-technologies {
    width: 100%;
}
}

@media (max-width: 430px) {
  .first-project .project-view {
    display: flex;
    flex-direction: column;
  }

  .first-project .header {
    text-align: justify;
  }

  .show-tools-technologies .tools{
    display: flex;
    flex-direction: column;
}
}
